.titolo-evento { font-family: 'Akronim'; font-style: normal; font-weight: normal; }
.cinzel, .menu_label_title, .our_history { font-family: 'Cinzel'; font-style: normal; font-weight: normal; }
.gold_title, .herr { font-family: 'Herr Von Muellerhoff'; font-style: normal; font-weight: normal; }
